Package: rails-manager
Version: 0.9
Maintainer: Martino BETTUCCI <martino.bettucci+rails@gmail.com>
Section: ruby
Source: https://github.com/martinobettucci/rvmStandardSetup/tree/master
Homepage: https://github.com/martinobettucci/rvmStandardSetup/blob/master/README.md
Architecture: all
Priority: optional
Pre-Depends: npm
Description: This is a repository who builds to a Debian Package (.deb) installing the RVM and configuring the server environment to my running defaults.
 This repository handle a Ruby Version Manager installation in a Debian Package version, everything configured as all my default linux boxes.
 Be sure to not have a ruby version manager already installed nor any ruby interpreter at all.
 This script is intended to be used on a clean debian-based server install and should be used in conjonction with rails projects configured using the railsStandardSetup gem also sourced in the same Github repository as this software.